<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Book">
    <insert id="insertBook">
        insert into BookList (category, title, writer, price, pay_method, arrived_date, photo, month)
        values (#{category}, #{title}, #{writer}, #{price}, #{pay_method}, #{arrived_date}, #{photo}, #{month})
    </insert>
    <update id="updateBook">
        update BookList
        set category     = #{category},
            title        = #{title},
            writer       = #{writer},
            price        = #{price},
            pay_method   = #{pay_method},
            arrived_date = #{arrived_date}
        where seq = #{seq}
    </update>
    <delete id="deleteBook">
        delete
        from BookList
        where seq = #{seq}
    </delete>
    <select id="getBook" resultType="book">
        select *
        from BookList
        where seq = #{seq}
    </select>
    <select id="getBookList" resultType="book">
        select *
        from BookList
        order by seq desc
    </select>
    <select id="getBookListMonth" resultType="book">
        select *
        from BookList
        order by month desc
    </select>
    <select id="searchBook">
        select from BookList
        where title like '%'||#{searchName}||'%'
    </select>
</mapper>